@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

body {
    background-color: #8A704A;
    margin: 0;
    padding: 0;
    font-family: "Lumanosimo", serif;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    padding: 0 20px;
}

.header {
    background-image: url("Cafe.jpg");
    background-size: 100%;
    background-position: center;
    padding: 20px;
}


.h1 {
    text-align: center;
    color: #d0b998;
    margin-top: 40px;
    font-size: 55px;
    font-family: "Lumanosimo", serif;
    font-weight: 900;
}

.p {
    text-align: center;
    color: #d0b998;
    font-family: "Lumanosimo", serif;
    font-weight: bolder;
    font-size: 25px;
    margin-top: -20px;
}

.form-inline {
    display: inline-block;
    right: 40%;
}

.Button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lumanosimo", serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
}

.Menu {
    background-color: rgb(114, 85, 41);
    color: #d0b998;
}

.Menu:hover {
    background-color: rgb(208, 185, 152);
    color: #8A704A;
}

.Contact {
    background-color: rgb(114, 85, 41);
    color: #d0b998;
}

.Contact:hover {
    background-color: rgb(208, 185, 152);
    color: #8A704A;
}